/*  your css code here. If applicable */
#card{
	width:50%;
	padding:10%;
	background-color:#f1f1f1;
	box-shadow:rgba(0, 0, 0, 0.1) 0px 4px 12px; 0px 4px 12px;
}
#btn{
	color:white;
	background-color:#fe625a;
	border:none;
	padding:10px;
	border-radius:15px;
}